body {
  margin: 0;
  /* font-family는 globals.css의 Noto Sans KR 디자인 시스템을 따름 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
